@model Morgenmadsbuffeten.Models.Reception

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reception</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdultAmounts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdultAmounts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChildrenAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChildrenAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckInDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckInDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ReceptionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
