@model IEnumerable<Morgenmadsbuffeten.Models.Restaurant>

@{
    ViewData["Title"] = "Info";
}

<label class="labelclass" style="font-size:4em">Reception</label>

<br />
<a asp-action="Index">
    <input type="submit" value="Gå tilbage" />
</a>
<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountAdults)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountChildren)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountAdults)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountChildren)
                </td>

            </tr>
        }
    </tbody>
</table>